DJANGO_SECRET_KEY=replace-with-a-long-random-value
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DJANGO_DB_HOST=replace-with-postgresql-server-ip
DJANGO_DB_PORT=5432
DJANGO_DB_NAME=django_control_db
DJANGO_DB_USER=django_owner
DJANGO_DB_PASSWORD=replace-with-django-owner-password
DJANGO_DB_CONN_MAX_AGE=60

DJANGO_CONFIG_API_KEY=replace-with-a-long-random-service-token
